## PYTHON DATA TYPES

In [2]:
# PYTHON DATA TYPES
5

5

In [3]:
a

NameError: name 'a' is not defined

In [4]:
type(5)

int

In [5]:
# Numeric Data Type
# 1. Int 2. Float 3. Complex

In [6]:
# INTEGER
type(0)

int

In [7]:
type(-3)

int

In [8]:
# FLOAT
type(3.14)

float

In [9]:
type(0.0)

float

In [10]:
print(6)

6

In [11]:
print('Hello, World')

Hello, World

In [12]:
type('Hello, World')

str

In [13]:
# COMPLEX DATA TYPE
a = 2 + 3j
type(a)

complex

In [14]:
input()

''

In [15]:
int(input())

ValueError: invalid literal for int() with base 10: ''

In [16]:
int(input())

ValueError: invalid literal for int() with base 10: ''

In [17]:
input("Enter Password: ").upper()

Enter Password:

''

In [18]:
a = 3

In [19]:
a

3

In [20]:
3 == 3

True

In [21]:
3 != 3

False

In [22]:
# Write a program that ask the users to put their age and verify the age data type
# Write a program that calculate the average of 3 numbers

In [23]:
a = int(input("Enter your age: "))
print(a)
type(a)

Enter your age:

ValueError: invalid literal for int() with base 10: ''

In [24]:
x = (5+6+10)/3
print(x)

7.0

In [25]:
x = float(input("Enter value for x: "))
y = float(input("Enter value for y: "))
z = float(input("Enter value for z: "))

avg = round((x + y + z)/3,2)
print(avg)

Enter value for x:

ValueError: could not convert string to float: ''

In [26]:
x = float(input("Enter value for x: "))
y = float(input("Enter value for y: "))
z = float(input("Enter value for z: "))

avg = round((x + y + z)/3,2)
print(f"The average of {x}, {y}, and {z} is {avg}")

Enter value for x: 1.2
Enter value for y: 3.4
Enter value for z: 6.7
The average of 1.2, 3.4, and 6.7 is 3.77

In [27]:
x

1.2

In [18]:
# PROGRAM TO CALCULATE THE AREA OF A CIRCLE, GETTING THE RADIUS FROM THE USER AND A FLOATTING VALUE, WHERE pi = 3.14
# where area_of_circle = pi * r**2

# SOLUTION
pi = 3.14
r = float(input("Enter radius: "))
area_of_circle = pi * r**2
print(area_of_circle)

Enter radius: 2
12.56

In [9]:
import math as mth

In [10]:
dir(mth)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [11]:
mth.pi

3.141592653589793

In [12]:
mth.sqrt(25)

5.0

In [13]:
mth.factorial(4)

24

In [19]:
mth.pow(r,2)

4.0

In [17]:
# mth.pow(3,2) 
3**2

9

In [20]:
import pandas as pd
dir(pd)

['ArrowDtype',
 'BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__all__',
 '__builtins__',
 '__cached__',
 '__deprecated_num_index_names',
 '__dir__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_is_numpy_dev',
 '_libs',
 '_testing',
 '_typing',
 '_version',
 'annotations',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'from_dummies',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'read_xml',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [1]:
import math as mth

In [4]:
r = 3
area = round(mth.pi * mth.pow(r,2),2)
print(area)

28.27

### VARIABLES

##### -- A VARIABLE IS A CONTAINER WHERE VALUES ARE STORED.

#### RULES FOR CREATING A VARIABLE

In [6]:
# 1. Variable can contain a single letter and also a word
a = 10

In [7]:
a

10

In [8]:
name = "UptraxTech"

In [9]:
name

'UptraxTech'

In [11]:
# 2. No varaibles should start with a number or any special character,\
# except special characters like the underscore (_)

_3 = 3

In [12]:
_3

3

In [20]:
# 3. It is not advisable to use a python keyword as a variable e.g print, type, round, sum!
sum_num = 4
sum_num

4

In [17]:
sum_num = 2

In [19]:
sum_num

2

In [22]:
# note that age is not the same as Age, and AGE, AGe
a

10

In [23]:
A

NameError: name 'A' is not defined

#### TYPES OF VARIABLES

In [25]:
# 1. Camel Case
# 2. Pascal Case
# 3. Snake Case -- Most recommended

In [27]:
# Write a program that returns the average of two floating values from the user!
first_floating_number = float(input("Enter first floating value: "))
second_floating_number = float(input("Enter second floating value: "))
average = round((first_floating_number + second_floating_number)/2,2)
average

Enter first floating value: 2.4
Enter second floating value: 2.8

2.6

## DATA TYPES CONTD

In [28]:
type(4) # integer

int

In [29]:
type(2.0) # Float

float

In [30]:
type(2 + 3j) # Complex

complex

#### STRING (str)

In [31]:
type('1234')

str

In [32]:
type("Tech")

str

In [33]:
type("""Prosper""")

str

In [34]:
type('''PH''')

str

In [36]:
str(input())

Prosper

'Prosper'

#### SEQUENTIAL DATA-TYPE

In [5]:
# lIST - is an ordered collection of items enclosed within a square bracket [].
animals = ["dog", "goat", "camel", "snake", "lion", "cat"]
type(animals)

list

In [42]:
animals

['dog', 'goat', 'camel', 'snake', 'lion', 'cat']

In [43]:
# List are immutable
animals.remove("cat")

In [44]:
animals

['dog', 'goat', 'camel', 'snake', 'lion']

In [46]:
animals.append("Tiger")

In [47]:
animals

['dog', 'goat', 'camel', 'snake', 'lion', 'Tiger']

In [1]:
num = [1,2,3,4,5]
type(num)

list

In [2]:
# List are Index values
print(3)

3

In [3]:
for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [6]:
print(animals)

['dog', 'goat', 'camel', 'snake', 'lion', 'cat']

In [7]:
animals[0]

'dog'

In [8]:
animals[4]

'lion'

In [9]:
animals[:2]

['dog', 'goat']

In [10]:
animals[3:]

['snake', 'lion', 'cat']

In [11]:
animals[-1]

'cat'

In [12]:
## TUPLE, () or ordered values seperated with a comma (,) 
number = 1,2.3,3,2 + 3j, "data analysis"
type(number)

tuple

In [13]:
print(type(number))

<class 'tuple'>

In [14]:
fruits = ("Orange", "Cherry", "Mango", "Water Melon", "Pineapple")
type(fruits)

tuple

In [15]:
print(fruits[0])

Orange

In [17]:
fruits[3:]

('Water Melon', 'Pineapple')

In [22]:
fruits.remove("Orange") # Since Tuple is mutable, you cannot append or remove

AttributeError: 'tuple' object has no attribute 'remove'

In [23]:
## BOOLEAN DATA TYPE
type(False)

bool

In [24]:
type(True)

bool

In [25]:
True + 2

3

In [26]:
False - 1

-1

In [27]:
False + False

0

In [28]:
True * True

1

In [31]:
## SET are unordered collection of items enclosed within a braces or curly bracket {}
numbers = {1,1,1,2,2,2,3,4,5,6}
type(numbers)

set

In [32]:
numbers.add(10)

In [33]:
numbers

{1, 2, 3, 4, 5, 6, 10}

In [34]:
numbers[0]

TypeError: 'set' object is not subscriptable